LOCALAI_HOST=0.0.0.0
LOCALAI_PORT=8080
LOCALAI_MODELS_DIR=./runtime/models
LOCALAI_BACKENDS_DIR=./runtime/backends
LOCALAI_CONFIG_DIR=./configs/localai
LOCALAI_THREADS=12
LOCALAI_CONTEXT_SIZE=8192
LOCALAI_LOG_LEVEL=info
NVIDIA_VISIBLE_DEVICES=all
